In [11]:
import pandas as pd

In [12]:
start = pd.Timestamp(
    year=1998,
    month=9,
    day=9,
    hour=7,
    minute=40
    )
start

Timestamp('1998-09-09 07:40:00')

In [13]:
end = pd.Timestamp(
    year=2009,
    month=1,
    day=1,
    hour=0,
    minute=5
    )
# end = pd.Timestamp(
#     year=1998,
#     month=9,
#     day=9,
#     hour=8,
#     minute=50
#     )
end

Timestamp('2009-01-01 00:05:00')

In [14]:
freq = pd.Timedelta(value=5, unit='min')
freq

Timedelta('0 days 00:05:00')

In [15]:
ts_sets = pd.date_range(start=start, end=end, freq=freq)
ts_sets

DatetimeIndex(['1998-09-09 07:40:00', '1998-09-09 07:45:00',
               '1998-09-09 07:50:00', '1998-09-09 07:55:00',
               '1998-09-09 08:00:00', '1998-09-09 08:05:00',
               '1998-09-09 08:10:00', '1998-09-09 08:15:00',
               '1998-09-09 08:20:00', '1998-09-09 08:25:00',
               ...
               '2008-12-31 23:20:00', '2008-12-31 23:25:00',
               '2008-12-31 23:30:00', '2008-12-31 23:35:00',
               '2008-12-31 23:40:00', '2008-12-31 23:45:00',
               '2008-12-31 23:50:00', '2008-12-31 23:55:00',
               '2009-01-01 00:00:00', '2009-01-01 00:05:00'],
              dtype='datetime64[ns]', length=1084806, freq='5T')

In [16]:
len(ts_sets)

1084806