In [1]:
import pandas as pd
import numpy as np

In [2]:
ts = pd.read_csv('C:/Users/HOLGER/Downloads/SharedFiles_ProfJames/_Spline_Surface/_test_timestamp2.csv')
sc = pd.read_csv('C:/Users/HOLGER/Downloads/SharedFiles_ProfJames/_Spline_Surface/_test_subcatchments.csv')

In [3]:
ts.head()

                       timestamp
0  Precipitation_30pts_1mm_28356
1  Precipitation_30pts_1mm_28357
2  Precipitation_30pts_1mm_28358
3  Precipitation_30pts_1mm_28359
4  Precipitation_30pts_1mm_28360

In [4]:
sc.head()

  subcatchment  area
0      sc_0001     1
1      sc_0002     2
2      sc_0003     3
3      sc_0004     4
4      sc_0005     5

In [5]:
aa = sc.subcatchment + '_' + ts.iloc[0,0] 
aa = aa.to_frame()
aa.head()

                            subcatchment
0  sc_0001_Precipitation_30pts_1mm_28356
1  sc_0002_Precipitation_30pts_1mm_28356
2  sc_0003_Precipitation_30pts_1mm_28356
3  sc_0004_Precipitation_30pts_1mm_28356
4  sc_0005_Precipitation_30pts_1mm_28356

In [6]:
bb = sc.iloc[0,0] + '_' + ts.timestamp
bb = bb.to_frame()
bb.head()

                               timestamp
0  sc_0001_Precipitation_30pts_1mm_28356
1  sc_0001_Precipitation_30pts_1mm_28357
2  sc_0001_Precipitation_30pts_1mm_28358
3  sc_0001_Precipitation_30pts_1mm_28359
4  sc_0001_Precipitation_30pts_1mm_28360

In [7]:
def func(id_arg_sc, arg_ts):
    scc = id_arg_sc
    globals()[scc] = id_arg_sc + '_' + arg_ts

In [8]:
re = np.vectorize(func)(sc.subcatchment, ts)

In [9]:
sc_0001

'sc_0001_Precipitation_30pts_1mm_28395'

In [10]:
sc_0002

'sc_0002_Precipitation_30pts_1mm_28395'

In [11]:
def func(id_arg_sc):
    scc = id_arg_sc
    globals()[scc] = id_arg_sc + '_' + ts

In [12]:
re = np.vectorize(func)(sc.subcatchment)

In [13]:
sc_0001.head()

                               timestamp
0  sc_0001_Precipitation_30pts_1mm_28356
1  sc_0001_Precipitation_30pts_1mm_28357
2  sc_0001_Precipitation_30pts_1mm_28358
3  sc_0001_Precipitation_30pts_1mm_28359
4  sc_0001_Precipitation_30pts_1mm_28360

In [14]:
sc_0002.head()

                               timestamp
0  sc_0002_Precipitation_30pts_1mm_28356
1  sc_0002_Precipitation_30pts_1mm_28357
2  sc_0002_Precipitation_30pts_1mm_28358
3  sc_0002_Precipitation_30pts_1mm_28359
4  sc_0002_Precipitation_30pts_1mm_28360