In [1]:
#%% MODULES

import pandas as pd
import processing
import numpy as np
import geopandas as gpd
import datetime as dt
from csv import DictWriter

In [2]:
#%% INPUT TIMESTAMPS (ts) THROUGH CSV FILES
# IMPORTANT: the csv file must have a title and be limited to one column
ts_csv_filename = '_test_timestamp2.csv'
location_ts_csv_folder = 'C:/Users/HOLGER/Downloads/SharedFiles_ProfJames/_Spline_Surface/'
location_ts_csv_file = '{}{}'.format(location_ts_csv_folder,ts_csv_filename)
ts_name_df = pd.read_csv(location_ts_csv_file)

In [3]:
ts_name_df.head()

                       timestamp
0  Precipitation_30pts_1mm_28356
1  Precipitation_30pts_1mm_28357
2  Precipitation_30pts_1mm_28358
3  Precipitation_30pts_1mm_28359
4  Precipitation_30pts_1mm_28360

In [4]:
#%% INPUT SUBCATCHMENTS (sc) THROUGH CSV FILE
sc_csv_filename = '_test_subcatchments.csv'
location_sc_csv_folder = 'C:/Users/HOLGER/Downloads/SharedFiles_ProfJames/_Spline_Surface/'
location_sc_csv_file = '{}{}'.format(location_sc_csv_folder,sc_csv_filename)
sc_name_df = pd.read_csv(location_sc_csv_file)

In [5]:
sc_name_df.head()

  subcatchment  area
0      sc_0001     1
1      sc_0002     2
2      sc_0003     3
3      sc_0004     4
4      sc_0005     5

In [6]:
#%% INPUT AND OUTPUT FOLDER
input_folder = 'C:/Users/HOLGER/Downloads/SharedFiles_ProfJames/_Spline_Surface/clspl_sdat/'
output_folder = 'C:/Users/HOLGER/Downloads/SharedFiles_ProfJames/_Spline_Surface/clsc_sdat/'

In [7]:
#%% SET NUMBER OF ITERATIONS
# Sometimes it is necessary to put the maximum amount of iterations
# remember: the first one is inclusive, whereas the last one is exclusive
# first index: input index [n = 0] = dataframe index [n + 1 = 1]
# last index: input index [n] = dataframe index [n + 1] 
initial_index = 2
final_index = 6

ts_name_df = ts_name_df.iloc[initial_index, :] if initial_index == final_index else ts_name_df.iloc[initial_index: final_index, :]
ts_name_df = ts_name_df if type(ts_name_df) == type(pd.DataFrame()) else ts_name_df.to_frame().T
ts_name_df['clspl_sdat'] = input_folder + 'clspl_' + ts_name_df.timestamp.str[3:] + '.sdat'
ts_name_df['clsc_sdat'] = '_' + ts_name_df.timestamp.str[3:] + '.sdat'

In [8]:
ts_name_df

,timestamp,clspl_sdat,clsc_sdat
2,Precipitation_30pts_1mm_28358,C:/Users/HOLGER/Downloads/SharedFiles_ProfJame...,_cipitation_30pts_1mm_28358.sdat
3,Precipitation_30pts_1mm_28359,C:/Users/HOLGER/Downloads/SharedFiles_ProfJame...,_cipitation_30pts_1mm_28359.sdat
4,Precipitation_30pts_1mm_28360,C:/Users/HOLGER/Downloads/SharedFiles_ProfJame...,_cipitation_30pts_1mm_28360.sdat
5,Precipitation_30pts_1mm_28361,C:/Users/HOLGER/Downloads/SharedFiles_ProfJame...,_cipitation_30pts_1mm_28361.sdat

In [9]:
ts_name_df.iloc[0,1]

'C:/Users/HOLGER/Downloads/SharedFiles_ProfJames/_Spline_Surface/clspl_sdat/clspl_cipitation_30pts_1mm_28358.sdat'

In [10]:
ts_name_df.iloc[0,2]

'_cipitation_30pts_1mm_28358.sdat'

In [11]:
#%% SET SUBCATCHMENT DATAFRAME
# Sometimes it is necessary to put the maximum amount of iterations
# remember: the first one is inclusive, whereas the last one is exclusive
sc_name_df['clsc_sdat'] = output_folder + 'clsc_' + sc_name_df.subcatchment.str[3:]

In [12]:
sc_name_df.head()

  subcatchment  area                                          clsc_sdat
0      sc_0001     1  C:/Users/HOLGER/Downloads/SharedFiles_ProfJame...
1      sc_0002     2  C:/Users/HOLGER/Downloads/SharedFiles_ProfJame...
2      sc_0003     3  C:/Users/HOLGER/Downloads/SharedFiles_ProfJame...
3      sc_0004     4  C:/Users/HOLGER/Downloads/SharedFiles_ProfJame...
4      sc_0005     5  C:/Users/HOLGER/Downloads/SharedFiles_ProfJame...

In [13]:
sc_name_df.iloc[0,2]

'C:/Users/HOLGER/Downloads/SharedFiles_ProfJames/_Spline_Surface/clsc_sdat/clsc_0001'

In [14]:
#%% SET SUBCATCHMENT POLYGON AS A MASK
mask_prefix_sc_pol_shp_filename = 'sc_'
location_mask_sc_pol_shp_folder = 'C:/Users/HOLGER/Downloads/SharedFiles_ProfJames/_Spline_Surface/mask_sc_polygon/'
location_mask_sc_pol_shp_file = '{}{}'.format(location_mask_sc_pol_shp_folder,mask_prefix_sc_pol_shp_filename)
sc_name_df['mask_shp'] = location_mask_sc_pol_shp_file + sc_name_df.subcatchment.str[3:] + '.shp'

In [15]:
sc_name_df.head()

,subcatchment,area,clsc_sdat,mask_shp
0,sc_0001,1,C:/Users/HOLGER/Downloads/SharedFiles_ProfJame...,C:/Users/HOLGER/Downloads/SharedFiles_ProfJame...
1,sc_0002,2,C:/Users/HOLGER/Downloads/SharedFiles_ProfJame...,C:/Users/HOLGER/Downloads/SharedFiles_ProfJame...
2,sc_0003,3,C:/Users/HOLGER/Downloads/SharedFiles_ProfJame...,C:/Users/HOLGER/Downloads/SharedFiles_ProfJame...
3,sc_0004,4,C:/Users/HOLGER/Downloads/SharedFiles_ProfJame...,C:/Users/HOLGER/Downloads/SharedFiles_ProfJame...
4,sc_0005,5,C:/Users/HOLGER/Downloads/SharedFiles_ProfJame...,C:/Users/HOLGER/Downloads/SharedFiles_ProfJame...

In [16]:
sc_name_df.iloc[0,0]

'sc_0001'

In [17]:
sc_name_df.iloc[0,1]

1

In [18]:
sc_name_df.iloc[0,2]

'C:/Users/HOLGER/Downloads/SharedFiles_ProfJames/_Spline_Surface/clsc_sdat/clsc_0001'

In [19]:
sc_name_df.iloc[0,3]

'C:/Users/HOLGER/Downloads/SharedFiles_ProfJames/_Spline_Surface/mask_sc_polygon/sc_0001.shp'

In [20]:
#%% START TIME OF THE PROCESS
starting_time = dt.datetime.now()

In [ ]:
#%% FUNCTION: Clip Raster by Mask Layer (CRBML)
def get_clip_subca_surface_2(arg_sc_output_clsc_sdat_file, arg_sc_input_mask_shp_file, arg_ts_input_clspl_sdat_file, arg_ts_output_clsc_sdat_file):
    # np.vectorize(get_clip_subca_surface_2)(sc_name_df.clsc_sdat, sc_name_df.mask_shp)

    # CRBML via QGIS processing
    exe_clp_sc = processing.run("gdal:cliprasterbymasklayer",\
        {'INPUT':arg_ts_input_clspl_sdat_file,\
        'MASK': arg_sc_input_mask_shp_file,\
        'SOURCE_CRS':None,\
        'TARGET_CRS':None,\
        'NODATA':None,\
        'ALPHA_BAND':False,\
        'CROP_TO_CUTLINE':True,\
        'KEEP_RESOLUTION':False,\
        'SET_RESOLUTION':False,\
        'X_RESOLUTION':None,\
        'Y_RESOLUTION':None,\
        'MULTITHREADING':False,\
        'OPTIONS':'',\
        'DATA_TYPE':0,\
        'EXTRA':'',\
        'OUTPUT':arg_sc_output_clsc_sdat_file + arg_ts_output_clsc_sdat_file})

In [7]:
#%% FUNCTION 1: Clip Raster by Mask Layer (CRBML)
def get_clip_subca_surface_1(arg_ts_input_clspl_sdat_file, arg_ts_output_clsc_sdat_file):
    # np.vectorize(get_clip_subca_surface)(ts_name_df.clspl_sdat, ts_name_df.clsc_sdat)
    
    # EXECUTE FUNCTION 2
    np.vectorize(get_clip_subca_surface_2)(sc_name_df.clsc_sdat, sc_name_df.mask_shp, arg_ts_input_clspl_sdat_file, arg_ts_output_clsc_sdat_file)

In [ ]:
#%% EXECUTE FUNCTION 1
np.vectorize(get_clip_subca_surface_1)(ts_name_df.clspl_sdat, ts_name_df.clsc_sdat)

In [ ]:
#%% END TIME OF THE PROCESS
ending_time = dt.datetime.now()
total_time = ending_time - starting_time
print('Done! in {}'.format(total_time))

In [28]:
ts = pd.read_csv('C:/Users/HOLGER/Downloads/SharedFiles_ProfJames/_Spline_Surface/_test_timestamp2.csv')
sc = pd.read_csv('C:/Users/HOLGER/Downloads/SharedFiles_ProfJames/_Spline_Surface/_test_subcatchments.csv')

In [29]:
ts.head()

                       timestamp
0  Precipitation_30pts_1mm_28356
1  Precipitation_30pts_1mm_28357
2  Precipitation_30pts_1mm_28358
3  Precipitation_30pts_1mm_28359
4  Precipitation_30pts_1mm_28360

In [30]:
sc.head()

  subcatchment  area
0      sc_0001     1
1      sc_0002     2
2      sc_0003     3
3      sc_0004     4
4      sc_0005     5

In [38]:
def func1(id_arg_ts):
    tss = id_arg_ts
    globals()[tss] = id_arg_ts + '_' + sc

In [39]:
wq = np.vectorize(func1)(ts.timestamp)

UFuncTypeError: ufunc 'add' did not contain a loop with signature matching types (dtype('<U30'), dtype('int64')) -> None

In [34]:
def func2(id_arg_sc):
    scc = id_arg_sc
    globals()[scc] = id_arg_sc + '_' + ts

In [35]:
re = np.vectorize(func2)(sc.subcatchment)

In [36]:
sc_0001.head()

                               timestamp
0  sc_0001_Precipitation_30pts_1mm_28356
1  sc_0001_Precipitation_30pts_1mm_28357
2  sc_0001_Precipitation_30pts_1mm_28358
3  sc_0001_Precipitation_30pts_1mm_28359
4  sc_0001_Precipitation_30pts_1mm_28360

In [37]:
sc_0002.head()

                               timestamp
0  sc_0002_Precipitation_30pts_1mm_28356
1  sc_0002_Precipitation_30pts_1mm_28357
2  sc_0002_Precipitation_30pts_1mm_28358
3  sc_0002_Precipitation_30pts_1mm_28359
4  sc_0002_Precipitation_30pts_1mm_28360